<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authentication</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <nav>
    <div>
      <% if (user) { %>
        <div>
          <a href="/movies" class ="fancyfont">My Movies</a>
          <a href="/movies/new" class ="fancyfont">Add Movie</a>
          <span><%= user.username %></span>
          <a href="/auth/logout" class ="fancyfont" id="logout">LOG OUT</a>
        </div>
      <% } else { %>
        <a href="/auth/sign-up" class ="fancyfont">SIGN UP</a>
        <a href="/auth/login" class ="fancyfont">LOG IN</a>
      <% } %>
    </div>
  </nav>
  <main>

