<%- include('../partials/header.ejs') %>

    <h1 class="fancyfont">who is watching what</h1>


    <% profiles.forEach((profile)=> { %>
        <p><a href="/profiles/<%= profile._id %>">
                <%= profile.username %>
            </a></p>
        <% })%>


            <%- include('../partials/footer.ejs') %>