<%- include('../partials/header.ejs') %>


<h1 class="fancyfont"><%= user.username %>'s watchlist:</h1>

<% if (movies.length) { %>
    <ul>
        <% movies.forEach((movie) => { %>
            <li>
                <%= movie.movieTitle %>
            </li>
        <% })%>
    </ul>
<% } else { %>
    <p>no movies watched, yet.</p>
<% } %>


<%- include('../partials/footer.ejs') %>

   