@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300&family=Monoton&display=swap');

* {
  box-sizing: border-box;
  background-color: white;
  color: rgb(204, 67, 67);
  font-family: 'Moderustic';
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 8vh 1fr 4vh;
}

.fancyfont {
  font-family: 'Monoton';
  text-shadow: 2px 2px 2px goldenrod;
}

.bold {
  font-weight: 900;
}

a {
  text-decoration: none;
  padding: 1vmin;
  border-radius: 1vmin;
  &:hover {
    background-color: rgb(204, 67, 67);
    color: white;
}
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5vh;
  color: rgb(204, 67, 67);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vmin;
  font-size: 2vh;
  color: rgb(204, 67, 67);
}

nav span {
  font-size: 1.5vmin;
  color: rgb(204, 67, 67);
}

#logout {
  flex-wrap: wrap;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vmin;
}

li {
  padding: 1.5vh;
}

input, select, textarea {
  border-color: rgb(204, 67, 67);
}

.showpage {
  display: flex;
}

#edit {
  margin-right: 3vh;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vmin;
}

form * {
  font-size: 2vmin;
  padding: 1vmin;
  border-radius: 1vmin;
}

button {
  color: white;
  background-color: rgb(204, 67, 67);
  border-color: rgb(204, 67, 67);
}
button:hover {
  background-color: rgb(204, 67, 67);
  border-color: rgb(204, 67, 67);
  color: white;
}

form > button[type="submit"] {
  grid-column: 2;
}

::-webkit-calendar-picker-indicator {
  color: rgb(204, 67, 67);
}