@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300&family=Monoton&display=swap');

* {
  box-sizing: border-box;
  background-color: white;
  color: rgb(204, 67, 67);
  font-family: 'Moderustic';
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 8vh 1fr 4vh;
}

.fancyfont {
  font-family: 'Monoton';
}

.lplinks {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

nav, footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vmin;
  font-size: 2vh;
  color: rgb(204, 67, 67);
}

nav a {
  text-decoration: none;
  color: rgb(204, 67, 67);
  padding: 1vmin;
  border-radius: 1vmin;
  &:hover {
    background-color: rgb(204, 67, 67);
    color: white;
  }
}

nav span {
  font-size: 1.5vmin;
  color: rgb(204, 67, 67);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vmin;
}

input, select, textarea {
  border-color: rgb(204, 67, 67);
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vmin;
}

form * {
  font-size: 2vmin;
  padding: 1vmin;
  border-radius: 1vmin;
}

button {
  color: white;
  background-color: rgb(204, 67, 67);
  border-color: rgb(204, 67, 67);
}
button:hover {
  background-color: rgb(204, 67, 67);
  border-color: rgb(204, 67, 67);
  color: white;
}

::-webkit-calendar-picker-indicator {
  color: rgb(204, 67, 67);
}