<%- include('../partials/header.ejs') %>

<h1 class="fancyfont">My Movies</h1>

<% if (movies.length) { %>
    <ul>
        <% movies.forEach((movie) => { %>
            <li>
                <a href="/movies/<%= movie._id %>"><%= movie.movieTitle %></a>
            </li>
        <% })%>
    </ul>
    <% } else { %>
        <p>no movies watched, yet.</p>
    <% } %>

<%- include('../partials/footer.ejs') %>

